.AboutUs-pro {
  margin-top: 50px;
}
.vidio-text button {
  width: 200px;
  color: #ffffff;
  background: #f7931e;
}

.AboutUs-pro h1 {
  max-width: 712px;
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 53px;
  margin-bottom: 30px;
}
.AboutUs-title {
  color: #f7931e;
}
.vidio-text {
  text-align: center;
}

.vidio-slady {
  max-width: 1290px;
  min-height: 533px;
  background: #f7931e;
}
.vidio-slady-text {
  text-align: center;
  display: flex;
  justify-content: center;
}
.vidio-slady-text p {
  margin-top: 2rem;
  max-width: 938px;
  margin-bottom: 1rem;
}
